# =========================
# Build folders (all levels)
# =========================
**/bin/
**/obj/

# =========================
# IDE folders
# =========================
.vs/
**/.vs/
.idea/
**/.idea/
.vscode/
**/.vscode/

# =========================
# macOS
# =========================
.DS_Store
**/.DS_Store

# =========================
# User specific files
# =========================
*.user
*.suo

# =========================
# Logs
# =========================
*.log

# =========================
# Runtime / compiled files
# =========================
*.dll
*.pdb
*.deps.json

# =========================
# Development config
# =========================
appsettings.Development.json


# Uploaded files
**/wwwroot/Belgeler/